/* Colors */
green = #00BC76
darkGrey = #333b39
lightGrey = #f5f5f5
offwhite = #fafcfc
magenta = #ff4389
lightPurple = #faf7fc
red = #ed3a1a

/* Fonts */
fontSize = 62.5%
fontColor = darkGrey
fontLineHeight = 1.25
fontFamily = 'Avenir', Arial, sans-serif

/* Media Queries */
tablet = 768px
