/* Colors */
magenta = #ff4389
lightGrey = #fafcfc
darkGrey = #333b39

/* Fonts */
fontSize = 62.5%
fontColor = darkGrey
fontLineHeight = 1.25
fontFamily = 'Avenir', Arial, sans-serif

/* Media Queries */
tablet = 768px
