@import '../../../../styles/partials/_variables.styl'

.panel
  border-radius 5px
  box-shadow 0 12px 40px rgba(0, 0, 0, 0.15)
  padding 2.5rem
  min-width 300px
  max-width 460px
  width 90%
  &__header
    border-bottom 1px solid darkGrey
    font-size 2rem
    font-weight 700
    margin-bottom 2.5rem
    padding-bottom 0.5rem
    text-transform capitalize
